<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (aluno(); as alunoRef) {
      <div>
        <h2 data-cy="alunoDetailsHeading"><span>Aluno</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ alunoRef.id }}</span>
          </dd>
          <dt><span>Descricao</span></dt>
          <dd>
            <span>{{ alunoRef.descricao }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ alunoRef.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aluno', alunoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
