<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (teacher(); as teacherRef) {
      <div>
        <h2 data-cy="teacherDetailsHeading"><span>Teacher</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ teacherRef.id }}</span>
          </dd>
          <dt><span>Descricao</span></dt>
          <dd>
            <span>{{ teacherRef.descricao }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ teacherRef.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/teacher', teacherRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
